@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", 'Times New Roman', Times, serif;
    font-weight: 500;
}
.main-container{
    max-width: 70%;
    margin: auto;
}
.app , .title , .input , .btn-container{
    width: 100%;
}
.app{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.input{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
.input label{
    margin-left: 2px;
}
#input{
    padding: 5px;
    display: block;
    width: 100%; height: 1.65rem;
    outline: 1px solid #aaa;
    border-radius: 5px;
    border: none;
    transition: all 0.15s linear;
    font-size: 1.2rem;
}
#input:focus{
    box-shadow: 0 0 0.4rem 0 #0af;
    outline: 1px solid #0af;
}
.btn-container{
    padding: 0 2rem 1rem;
    display: flex;
    gap: 0.5rem;
}
.add-btn , .clear-todo-list{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: #f4f4f4;
    cursor: pointer;
}
.add-btn{
    background-color: rgb(85, 14, 201);
}
.clear-todo-list{
    background-color: rgb(224, 65, 65);
}
.add-btn:hover{
    background-color: rgb(75, 4, 191)
}
.clear-todo-list:hover{
    background-color: rgb(214, 55, 55);
}
.todo-container{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.box{
    background-color: #eaeaea;
    border: 1px solid #d9d9d9;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
    border-radius: 0.5rem;
}
.comp-del{
    width: fit-content;
    display: flex;
    gap: 1rem;
}
.complete, .delete{
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #f4f4f4;
    cursor: pointer;
    transition: all 0.15s linear;
}
.complete{
    background-color: rgb(46, 179, 90);
}
.complete:hover{
    background-color: rgb(26, 159, 70);
}
.delete{
    background-color: #e04141;
}
.delete:hover{
    background-color: #d63737;
}
.completeItem{
    text-decoration: line-through;
    text-decoration-thickness: 0.13rem;
}

/* @media screen and (max-width: 768px) {
    
    
} */